.content{
  padding-left: 3%;
  padding-right: 3%;
  min-height: 500px;
  background-color: #ecece2;
}

.type{
  margin-top:33px;
  font-size: 14px;
  color: #b4ad9e;
}
.title{
  margin: 33px 0;
  font-size: 30px;
  color: #626262;
}
.content{
  padding-bottom: 50px;
}
