/*
colors
@value bodyBg:#f5f5f5;
*header and footer background
*@value hfBg:#303030;
@value navActive:#3337bd;
@value headButton:#3f4177;
@value footNav:#fffff;
@value footCopy:#c1bcbc;
*/
.bodyBg{
  background-color: #f5f5f5;
}
.hgBg{
  background-color: #303030;
}
.navActive{
  color: #3337bd;
}
.headButton{
  background-color: #3f4177;
}
.footNav{
  color: #fff;
}
.footCopy{
  color: #c1bcbc;
}

.fontColor{
  color:#3337bd;
}
.rectColor{
  border-color: #3337bd;
  border-top: 1px soild;
  border-left: 1px soild;
}
.date{
  font-size: 12px;
  color: #b2afaf;
}

.line{
  border-color: #e0e0e0;
}
.btn{
  display: block;
  text-align: center;
  cursor: pointer;
}
.tag{
  float: left;
  background-color: #eeeeee;
}
.icon{
  width: 45px;
  height: 45px;
  border-radius: 45px;
}
.message_icon{
  width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}
.title{
  margin-top: .5em;
  margin-bottom: .87em;
}
.content{
  margin-bottom: 1em;
}
.smallFont{
  font-size: 10px;
}
.linearGTop{
  background-color: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,.3));
}
