
.icon-right:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-more:before { content: '\e804'; } /* '' */
.icon-qq:before { content: '\e805'; } /* '' */
.icon-weibo:before { content: '\e806'; } /* '' */
.icon-weixin:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e808'; } /* '' */
.icon-pengyouquan:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-zhihu:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-like:before { content: '\e80d'; } /* '' */
.icon-douban:before { content: '\e80e'; } /* '' */