<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../public/css/normalize.css" />
  <link rel="stylesheet" href="../public/css/global.css" />
  <link rel="stylesheet" href="../dist/style.css" />
</head>
<body>
  <div id="root">
  </div>
  <script src="../dist/bundle.js"></script>
  <script>
    ( function() {
        var eleScript = document.createElement( 'script' );
        var url = './public/js/app.js';
        eleScript.src = url;
        self.addEventListener( 'DOMContentLoaded', function() {
            document.head.appendChild( eleScript )
        } )
    } )()
</script>
</body>
</html>
