a{
  text-decoration: none;
}
a,
a:link,
a:visited{
  color: #000;
}
ul{
  list-style: none;
}
body{
  font-family: "Microsoft YaHei";
}
.clear::after{
  display: block;
  content: '';
  clear: both;
}
