body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
.col{display: inline-block;}
/*
  *footer
  *copy color #bebdbd
*/
footer{
  height: 80px;
  background-color: #303030;
}
footer li{
  float: left;
}
footer li a{
  color: #fff;
}
