.container{
	  padding:0 30px;
		width: 74%;
    background-color: #fff;
}
.body{
	padding-top: 80px;
	padding-bottom: 80px;
	z-index: -1;
	background-color: #fff;
}
.left{
	box-sizing: border-box;
	padding-left: 3%;
	padding-right: 3%;
border:1px solid #e6e6e6;
	border-radius: 3px;
	min-height: 700px;
}
